In [ ]:
import pandas as pd


#Read file into python as dataframes
file1=pd.read_csv('marketing_customer_analysis.csv') 
display(file1)
print(file1.shape)

In [ ]:
#Standardize the headers name 
cols = []
for column in file1.columns:
    cols.append(column.lower())
cols
file1.columns = cols
display(file1)

In [ ]:
numerical_cols = file1.select_dtypes(include=['float', 'int']).columns.tolist()

In [ ]:
print(numerical_cols)

In [ ]:
categorical_cols = file1.select_dtypes(include=['object']).columns.tolist

In [ ]:
print(categorical_cols)

In [ ]:
import pandas as pd

nulls_df = pd.DataFrame(round(file1.isna().sum()/len(file1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)

In [ ]:
# Identify columns with more than 1% of NaNs

In [ ]:
columns_drop = nulls_df[nulls_df['percent_nulls']>1]['header_name']  
print(columns_drop.values)

In [ ]:
file1 = pd.read_csv('marketing_customer_analysis.csv')

# Count the number of NaN values in each column of the DataFrame
nan_count = file1.isna().sum()

# Print the resulting counts
print(nan_count)

In [ ]:
#Find the most frequently used value in column

frequent_state = file1['State'].value_counts()
print(frequent_state)

# Replace NaN values in the 'State' column with 'California'
file1['State'].fillna('California', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_response = file1['Response'].value_counts()
print(frequent_response)

# Replace NaN values in the 'Response' column with 'No'
file1['Response'].fillna('No', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Number_of_Open_Complaints = file1['Number of Open Complaints'].value_counts()
print(frequent_Number_of_Open_Complaints)


# Replace NaN values in the 'Number of Open Complaints' column with '0'
file1['Number of Open Complaints'].fillna('0', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Vehicle_Class = file1['Vehicle Class'].value_counts()
print(frequent_Vehicle_Class)


# Replace NaN values in the 'Vehicle Class' column with 'Four Door Car'
file1['Vehicle Class'].fillna('Four Door Car', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [ ]:
#Find the most frequently used value in column

frequent_Vehicle_Type = file1['Vehicle Type'].value_counts()
print(frequent_Vehicle_Type)



# Replace NaN values in the 'Vehicle Type' column with 'A'
file1['Vehicle Type'].fillna('A', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

In [189]:
#Find the most frequently used value in column

frequent_Vehicle_Size = file1['Vehicle Size'].value_counts()
print(frequent_Vehicle_Size)


# Replace NaN values in the 'Vehicle Size' column with 'Medsize'
file1['Vehicle Size'].fillna('Medsize', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

Medsize    7873
Small      1966
Large      1071
Name: Vehicle Size, dtype: int64

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A

In [193]:
#Find the most frequently used value in column

frequent_Months_Since_Last_Claim = file1['Months Since Last Claim'].value_counts()
print(frequent_Months_Since_Last_Claim)


# Replace NaN values in the 'Months Since Last Claim' column with '3.0'
file1['Months Since Last Claim'].fillna('3.0', inplace=True)

# Print the updated DataFrame to verify the changes
display(file1)

idk     633
3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
19.0    276
23.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: Months Since Last Claim, dtype: int64

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A

In [194]:
nulls_df = pd.DataFrame(round(file1.isna().sum()/len(file1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                      header_name  percent_nulls
0                      Unnamed: 0            0.0
1                        Customer            0.0
2                           State            0.0
3         Customer Lifetime Value            0.0
4                        Response            0.0
5                        Coverage            0.0
6                       Education            0.0
7               Effective To Date            0.0
8                EmploymentStatus            0.0
9                          Gender            0.0
10                         Income            0.0
11                  Location Code            0.0
12                 Marital Status            0.0
13           Monthly Premium Auto            0.0
14        Months Since Last Claim            0.0
15  Months Since Policy Inception            0.0
16      Number of Open Complaints            0.0
17             Number of Policies            0.0
18                    Policy Type            0.0
19                         Policy            0.0
20               Renew Offer Type            0.0
21                  Sales Channel            0.0
22             Total Claim Amount            0.0
23                  Vehicle Class            0.0
24                   Vehicle Size            0.0
25                   Vehicle Type            0.0

In [198]:
file1['Month'] = pd.DatetimeIndex(file1['Effective To Date']).month
file1
file1['Month'] = pd.to_datetime(file1['Effective To Date'], format='%m/%d/%y').dt.strftime('%B')
display(file1)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,February
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,January

In [199]:
file1_filtered = file1[file1['Month'].isin(['January', 'February', 'March'])]
display(file1_filtered)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,February
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,January